bin/
gen/
local.properties
.classpath
.project
.DS_Store
/out
/.idea
*.iml
project.properties
build.xml
gen-external-apklibs/
target/
classes/
.settings/
lint.xml
build.log
build-log.xml
.gradle
build
crashlytics-build.properties
com_crashlytics_export_strings.xml
